body {
	margin: 0px;
	padding: 5px;
}

.App {
	width: 320px;
	height: 410px;
}

.Main {
	height: 100%;
}

::-webkit-scrollbar {
	width: 0px;
}

.add-card-data-button {
	position: fixed;
	bottom: 58px;
	right: 8px;
	top: auto;
	left: auto;
	z-index: 1000;
}
