body {
	margin: 0px;
	padding: 5px;
}

.App {
	width: 320px;
	height: 410px;
	background: url("../../assets/side_vector.png") -5% 100% no-repeat,
		url("../../assets/card_vector.png") 94% 85% no-repeat;
	background-size: 50px 250px, 134px 200px;
}

.Main {
	height: 100%;
}

::-webkit-scrollbar {
	width: 0px;
}

.add-card {
	padding-left: 15px;
	padding-right: 15px;
}

.no-data-found {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
}
